<?xml version="1.0"?>
<launch>

    <include file="$(find yumi_description)/launch/yumi_urdf_fixedgrippers.launch" />
    <include file="$(find simulator)/launch/simulator.launch" />
    <include file="$(find state_server)/launch/state_server.launch" />
    <include file="$(find velocity_control)/launch/velocityController.launch" />
</launch>
