<?xml version="1.0"?>
<launch>
    <arg name="ip" default="192.168.1.13" />
    <arg name="useSim" default="false" />

    <include file="$(find yumi_description)/launch/yumi_urdf_fixedgrippers.launch" />
    <include file="$(find dynamics)/launch/dynamics.launch" >
        <arg name="useSim" value="$(arg useSim)"/>
    </include>
    <include file="$(find state_server)/launch/state_server.launch">
        <arg name="yumi_ip" value="$(arg ip)"/>
    </include>
    <include file="$(find motion_server)/launch/motion_server.launch">
        <arg name="yumi_ip" value="$(arg ip)"/>
    </include>
    <include file="$(find velocity_control)/launch/velocityController.launch" />
    <node pkg="joy" name="joystick" type="joy_node" >
        <param name="autorepeat_rate" value="30" />
    </node>
    <node pkg="controller" name="joy_stick_node" type="joy_controller.py" />
</launch>
