<launch>
  <param name="use_sim_time" value="false" />

  <node pkg="velocity_control" type="joint_velocity_controller_node" name="joint_velocity_controller_node_L" output="screen" args="_L 6511">
  </node>
  <node pkg="velocity_control" type="joint_velocity_controller_node" name="joint_velocity_controller_node_R" output="screen" args="_R 6512">
  </node>

</launch>
