<launch>
  <!-- FIXME: do not use the timestamps from the bag file,
    it makes the tracker hang for some reason. -->
  <param name="use_sim_time" value="false" />


  <node pkg="state_server" type="client_node_R" name="client_node_R" output="screen" args="192.168.1.13">
  </node>
  <node pkg="state_server" type="client_node_motion_R" name="client_node_motion_R" output="screen" args="192.168.1.13">
  </node>
  <node pkg="state_server" type="client_node_L" name="client_node_L" output="screen" args="192.168.1.13">
  </node>
  <node pkg="state_server" type="client_node_motion_L" name="client_node_motion_L" output="screen" args="192.168.1.13">
  </node>
  <node pkg="state_server" type="joint_state" name="joint_state" output="screen" args="192.168.1.13">
    </node>



</launch>
