<launch>
  <!-- FIXME: do not use the timestamps from the bag file,
    it makes the tracker hang for some reason. -->
  <param name="use_sim_time" value="false" />


  <node pkg="state_server" type="client_node" name="client_node" output="screen" args="192.168.1.13">
  <node pkg="state_server" type="client_node_motion" name="client_node_motion" output="screen" args="192.168.1.13">

</node>

</launch>
