<launch>
  <!-- FIXME: do not use the timestamps from the bag file,
    it makes the tracker hang for some reason. -->
  <param name="use_sim_time" value="false" />

  <node name="Blender" pkg="simulation" type="simulation" output = "screen"  />
  <node name="BlenderBridge" pkg="simulation" type="BlenderBridge.py"  />
  <node name="BallPublisher" pkg="simulation" type="BallPublisher.py" output = "screen"  />



</launch>
