<?xml version="1.0"?>
<launch>
    <include file="$(find realsense2_camera)/launch/rs_aligned_depth.launch" />
    <node pkg="camera1" type="opencv_viewer_example.py" name="opencv_viewer_example"  >
    </node>

    <node pkg="camera1" type="get_points.py" name="get_camera_points"  >
    </node>
    <node pkg="camera1" type="camera_transform.py" name="camera_transform" output="screen" >
        </node>

</launch>