<?xml version="1.0"?>
<launch>
  <!-- this argument you can pass this launch file-->
  <arg name="hardware_interface" default="EffortJointInterface"/>
 <!-- Load the URDF with the given hardware interface into the ROS Parameter Server -->
<!--  <param name="robot_description"-->
<!--	 command="rosrun xacro xacro '$(find yumi_description)/urdf/yumi_fixedgrippers.urdf.xacro' prefix:=$(arg hardware_interface)" />-->
  <param name="robot_description" textfile="$(find yumi_description)/urdf/model.urdf"/>

  <!-- send fake joint values -->

  <!-- Combine joint values -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <!-- Show in Rviz   -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yumi_description)/launch/yumi.rviz"/>

</launch>
