<?xml version="1.0"?>
<launch>


  <arg name="hardware_interface" default="PositionJointInterface"/>
 <!-- Load the URDF with the given hardware interface into the ROS Parameter Server -->
  <param name="robot_description"
	 command="$(find xacro)/xacro.py '$(find yumi_description)/urdf/yumi_nogrippers.urdf.xacro' prefix:=$(arg hardware_interface)" />



</launch>
